body {
    margin: 25px;
}

h1 {
    font-family: 'Anek Latin', sans-serif;
}

h2 {
    font-family: 'Anek Latin', sans-serif;
    font-weight: 80;
    color:#5f9ea0
}

hr {
    height: 5px; border-width: 0; background-color: cadetblue;
}

p {
    font-family: 'Lato', sans-serif;
}

.vertical-line {
    border-left: thick solid #5f9ea0; padding-left: 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }